.App {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.home {
  align-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.showlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #000000;
  text-decoration: none !important;
  margin: 5px;
}

.showlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.nav-links {
  display: flex;
  list-style-type: none;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  font-weight: bold;
  color: var(--black);
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}
.nav-links a:hover {
  color: darkgray;
}
.image {
  height: 400px;
  width: 400px;
}
.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3%;
  max-width: 4000px;
}
li {
  text-align: center;
  justify-content: center;
  list-style-type: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.button {
  background-color: rgb(120, 140, 226);
  border: solid;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}
.button:hover {
  background-color: rgb(85, 95, 231);
  color: black;
}

.navlink {
  padding: 0.6rem 0.8rem;
  background-color: #000000;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none !important;
  margin: 15px;
  margin-left: 1cm;
  padding-left: 20px;
  width: 30px;
  height: 40px; 
  left: 25px;
  padding-top: 100px;
}
